.todo{
    height: 70vh;
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 40px;
}


input{
    height: 50px;
    width: 70%;
    padding: 10px;
    outline: none;
    cursor: pointer;
}


.addBtb{
    width: 70%;


    button{
        height: 40px;
        width: max-content;
        background-color: green;
        cursor: pointer;
    }
}

.task{
    height: 80%;
    width: 98%;
    background-color: antiquewhite;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tasks{
    height: 25%;
    width: 95%;
    padding: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btnDual{
    height: 40px;
    width: 30%;
    cursor: pointer;
    gap: 25px;
    display: flex;
    align-content: center;

    button{
        height: 40px;
        width: 80px;
 
        cursor: pointer;
    }

}